.genre-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genre-list li {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-list li:hover {
    background-color: #e0e0e0;
}